<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Videresend ikke eksisterende filer eller mapper
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Send alt andet til index.html (Angular håndterer routing)
  RewriteRule ^ index.html [L]
</IfModule>
